<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>607936276712-t9uj5e34pqmjn7513bldag2vn0kc0jh5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.607936276712-t9uj5e34pqmjn7513bldag2vn0kc0jh5</string>
	<key>API_KEY</key>
	<string>AIzaSyD3mU98O024raV3RBx6OKiuo77aNhFB8fw</string>
	<key>GCM_SENDER_ID</key>
	<string>607936276712</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.celulari.phones</string>
	<key>PROJECT_ID</key>
	<string>celulari-9739f</string>
	<key>STORAGE_BUCKET</key>
	<string>celulari-9739f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:607936276712:ios:2991b407c4f6e64a3ec15d</string>
	<key>DATABASE_URL</key>
	<string>https://celulari-9739f.firebaseio.com</string>
</dict>
</plist>